yed
wireshark
tmux-performance
karabiner
iterm2
htop
gurobi.lic
flutter
btop
Libfdr

Code
KDE
OpenRGB
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
Unknown Organization
akonadi-firstrunrc
akonadi
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
arkrc
baloofilerc
bluedevilglobalrc
dconf
discoverrc
dolphinrc
drkonqirc
emaildefaults
emailidentities
google-chrome
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
ibus
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
kate-externaltoolspluginrc
kate
katerc
katevirc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kglobalshortcutsrc
kmail2rc
kmailsearchindexingrc
knfsshare
konsolerc
konsolesshconfig
krdpserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
libreoffice
lxqt
okularrc
phishingurlrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse
session
specialmailcollectionsrc
spectaclerc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
vlc
xdg-desktop-portal-kderc
xsettingsd

